

@media all and (max-width 1250px)

	section
		margin-bottom 100px
		
	.section-title
		margin-bottom 60px
		
	.product-item__line
		justify-content center
		
	.new-arrivals,
	.related-products 
		.product-item
			margin 0 10px 25px 10px
		
	.new-arrivals,
	.related-products 
		.product-item
			&:nth-child(4n+4)
				margin 0 10px 25px 10px

	.best-sales__items
		justify-content center
		
	.best-sales__item
		margin-bottom 15px
		margin-right 10px
		margin-left 10px
		
	.footer-logo
		margin-right 80px
		
	.footer-nav
		margin-right 60px
		
	.product__choose-quantity:before
		display none

@media all and (max-width 1200px)
	
	.banners 
		.container
			justify-content center
			
	.banner-large
		margin-bottom 15px
		
	.product-info
		max-width 530px
		
	.filter-item
		padding 20px
	#slider_price
		display none
		
	.all-products__filter
		max-width 200px
		margin-right 15px
		
	.filter-line--price
		flex-direction column
			
	.filter__price-from
		justify-content space-between
		width 100px
		margin-bottom 20px
	.filter__price-to
		justify-content space-between
		width 100px
		
	.all-products__show
		.product-item
			max-width 230px
			margin-right 15px

@media all and (max-width 1050px)
	.product-info
		max-width 480px
@media all and (max-width 1000px)

	footer
		padding 50px 0 
		.container
			justify-content space-between
	
	.footer-logo
	.footer-payments
		width 40%
		margin-bottom 35px
	.footer-payments
		text-align right
		
	.footer-nav
		order 2
		width 25%
		padding-left 30px
		
	.product-view
		padding-bottom 60px

	.product-info__title
		font-size 2.5rem
	.product-info__goods
		font-size 1.1rem
	.product-info__descr
		font-size 1.1rem
		
	.product__chose-size, .product__choose-quantity
		font-size 1.1rem
		
	.product-price__wrapper
		font-size 1.2rem
		
	.product-actions .g-btn
		font-size 1.1rem
		
	.product-info
		max-width 460px
		
	.product-gallery
		max-width 250px
		margin-left 30px
		
	.js-product-view__pager a
		margin-bottom 15px
		
	.all-products__show
		justify-content space-around

@media all and (max-width 900px)

	section
		margin-bottom 80px
		
	.section-title
		margin-bottom 50px
	
	.header__logo 
		margin-right 30px
		
	.header-nav .header-nav__list 
		li
			margin-right 17px
			
	.index-slider__info
		height 450px
		
	.section-title__big
		font-size 2rem
		
	.subscribe__content
		flex-direction column
		
	.subscribe__title
	.subscribe__descr
		margin-bottom 15px
		
	.subscribe-form
		margin 0 auto
		
	.product-gallery
		margin-right 25px
		

@media all and (max-width 800px)
	.product-view .container
		justify-content center
		
	.product-gallery
		max-width 100%
		margin-bottom 30px
		
	.product-info
		max-width 100%
		text-align center

@media all and (max-width 750px)
	
	.footer-nav
		width 40%

@media all and (max-width 700px)
	
	.banner-large
		padding-left 30px
		text-align center
		
	.banner-large__img
		margin-right 35px
		margin-bottom 15px
		
	.banner-large__text
		margin-right 30px
		margin-bottom 15px
		&:after 
			display none
			
	.header__logo
		margin-bottom 20px

	.header-nav
		order 3
		width 100%
		text-align center
		
	.product-gallery li
		width 290px!important

@media all and (max-width 600px)

	.index-slider__info
		height 320px

	.index-slider__title,
	.product-info__title
		font-size 2rem
		
	.product-info__title,
	.product-info__goods
		margin-bottom 15px

	.index-slider__goods,
	.product-info__goods
		font-size 1rem
		
	.index-slider__descr,
	.product-info__descr
		margin-bottom 35px
		font-size 1rem
		
	.section-title__big
		font-size 2rem
		
	.section-title__descr
		font-size 1rem
		
	.product-gallery li
		width 200px!important
		
	.product-gallery .bx-wrapper .bx-viewport
		max-width 200px
		margin 0 auto 25px
		

@media all and (max-width 500px)

	.all-products
		padding-top 50px

	.filter-item
		padding 40px 10px 40px 20px
		max-width 150px
		
@media all and (max-width 450px)
	.header__top
		padding 17px 0
		.container
			flex-direction column
			align-items center
			
	.header__contacts
		margin-bottom 15px
		
	.best-sales__img
		&:after
			display none
			
@media all and (max-width 450px)

	.best-sales__item
		flex-direction column
		
	.best-sales__img
		margin-bottom 15px
		
	.input-field
		display block
		margin-bottom 15px
		
	.input-field__wrap
		&:before
			position absolute
			left 0
			top 4px
	
	footer 
		padding-left 60px

	.footer-nav
		width 80%
		
	.footer-payments
		width 80%
		margin-left 0
		text-align left
		
	.header__bottom
		padding 20px 0 10px
		
	.header__logo
		margin-bottom 5px
		margin-right 2px
	
	.header-nav
		display none
		padding 10px 0 18px
		.header-nav__list
			padding-left 10px
			li
				display block
				text-align left
				margin-bottom 10px
				padding-bottom 5px
				border-bottom 1px solid lightGrayColor
				&:last-child
					margin-bottom 0
					border-bottom none
		
	.hamburger
		display block
		order 2
		// width 100%
		text-align left
		margin-bottom 15px
		padding-bottom 3px
		
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
		background lightBlueColor
		
	.header-search, .header-user, .header-basket
		margin-right 10px
		
	.product-settings
		justify-content center
		

	.product__chose-size,
	.product-price__wrapper
		margin-bottom 15px
		
	.product__chose-size,
	.product__choose-quantity,
	.product-price__wrapper,
	.product-actions
		width 100%
		
	.filter-title
		font-size 1rem
		margin-bottom 40px
		
	.filter-line
		margin-bottom 20px
		label
			font-size 1rem
			
	.all-products__show .product-item
		max-width 180px
		padding-left 10px
		padding-right 10px
		
	.filter-item
		max-width 110px
		padding-left 10px
		&:nth-of-type(2)
			display none
		
