// $s-Index img = 0px 0px 0px 0px 32px 32px 131px 100px 'sprite.png';
$s-fb = 117px 79px -117px -79px 6px 11px 131px 100px 'sprite.png';
$s-google = 68px 83px -68px -83px 14px 11px 131px 100px 'sprite.png';
$s-header-basket = 35px 47px -35px -47px 24px 17px 131px 100px 'sprite.png';
$s-header-search = 84px 0px -84px 0px 18px 18px 131px 100px 'sprite.png';
$s-header-user = 0px 47px 0px -47px 20px 21px 131px 100px 'sprite.png';
$s-header_mail = 84px 33px -84px -33px 18px 11px 131px 100px 'sprite.png';
$s-header_phone = 117px 26px -117px -26px 12px 12px 131px 100px 'sprite.png';
$s-inst = 117px 53px -117px -53px 11px 11px 131px 100px 'sprite.png';
$s-product-basket = 47px 0px -47px 0px 22px 21px 131px 100px 'sprite.png';
$s-product-fav = 34px 83px -34px -83px 19px 16px 131px 100px 'sprite.png';
$s-product-web = 0px 83px 0px -83px 19px 17px 131px 100px 'sprite.png';
$s-tw = 117px 0px -117px 0px 14px 11px 131px 100px 'sprite.png';
