

mainFont = "OpenSansRegular", arial, sans-serif
boldFont = "OpenSansBold", arial, sans-serif
semiboldFont = "OpenSansSemiBold", arial, sans-serif
extraBoldFont = "OpenSansExtraBold", arial, sans-serif




mainBgColor = #f4f6f8
lightGrayColor = #F1F2F4
lightBlueColor = #3c4751
mainFontColor = #34404b
orangeColor = #ff5912