
footer
	.container
		.footer-logo
			img(src="static/img/general/logo.png" alt="logo").footer-logo__img
			span.footer-copyright shopy c 2018 . your copy right here
		nav.footer-nav
			ul.footer-nav__list
				li
					a(href="#") about us
				li
					a(href="#") contact us
				li
					a(href="#") suport
		nav.footer-nav
			ul.footer-nav__list
				li
					a(href="#") our feed
				li
					a(href="#") terms and conditions
				li
					a(href="#") our privacy
		nav.footer-nav
			ul.footer-nav__list
				li
					a(href="#") join us
				li
					a(href="#") live support
		.footer-payments
			span Payment Methods
			img(src="static/img/content/payment.png", alt="payment")








