section.subscribe
		.container
			.subscribe__content
				span.subscribe__title News Letter
				span.subscribe__descr join us now to get all news and special offers
				form.subscribe-form
					.input-field__wrap
						input(type="text" name="mail" placeholder="type your email here").input-field
						input(type="submit" value="join us").g-btn 